$successBright: #84D187;
$successDark: #2C742F;
$success: #00b207;
$warning: #ff8a00;
$yellow: #FCC900;
$error: #EA4B48;
$blue: #2388FF;

$grey9: #1A1A1A;
$grey8: #333333;
$grey7: #4D4D4D;
$grey6: #666666;
$grey5: #808080;
$grey4: #999999;
$grey3: #b3b3b3;
$grey2: #cccccc;
$grey1: #e6e6e6;
$grey05:#f2f2f2;
$greyAdditional: #f7f7f7;

$white: #fff;

$green9: #002603;